html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-color: #000022;
    max-width: 100%;
}
p{
    max-width: 100%;
}
a {
    color: #fff;
    text-decoration: none;
}
body::-webkit-scrollbar {
    background-color: #000022;
}
body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #05005C 0%, #0715A9 99%);
    border-radius: 100px;
    border: 1px solid #6968DF;
}
footer{
    margin-top: 50px;
    padding: 2%;
    width: 96%;
    color: white;
    background: #00000F;
    font-family: MuseoSansDisplayBold;
    display: flex;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #000380;
    color: #fff;
    font-family: Gill Sans, sans-serif;
    display: flex;
}
.header_section{
    display: flex;
    align-items: center;
}
.header_item{
    padding: 10px 15px;
    font-size: 20px;
    margin-left: 5px;
    transition: all 0.1s linear;
    position: relative;
}
.header_item:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: rgb(0, 190, 224);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}
.header_item:hover{
    background-color: #002F80;
    border-radius: 8px 8px 0 0;
    text-shadow: 0 0 40px rgba(255, 255, 255, 0.541);
}
.headerButton{
    cursor: pointer;
}
.header{
    box-shadow: 0 0 40px rgba(0, 38, 255, 0.541);
}
@font-face {
    font-family: MuseoSansDisplay;
    src: url(../Files/MuseoSansDisplay-ExtraLight.ttf);
}
@font-face{
    font-family: MuseoSansDisplayBold;
    src: url(../Files/MuseoSansDisplay-ExtraBlack.ttf);
}
@font-face{
    font-family: Pancrack;
    src: url(../Files/PancrackDEMO.ttf);
}
@font-face{
    font-family: LetoText;
    src: url(../Files/LetoText.ttf);
}
.text{
    color: white;
    font-family: LetoText;
    font-size: 60px;
    margin-top: 30px;
    margin-right: 50px;
}
.text2{
    color: rgb(197, 197, 197);
    font-family: MuseoSansDisplay;
    font-size: 80px;
    margin-top: 0;
    text-align: center;
}
.miniLogo{
    float: right;
    margin-right: 50px;
    margin-top: 50px;
}
.soccialIcons{
    text-align: right;
    margin-left: 1100px;
}
.title{
    font-size: 100px;
    color: white;
    margin-top: 150px;
    font-family: MuseoSansDisplay;
    font-weight: 800;
    text-align: center;
    text-shadow: 0 0 10px rgb(255, 255, 255);
}
.gameBox{
    width: 75%;
    height: 150px;
    margin-left: 10%;
    border-radius: 50px;
    background-color: #050044;
    display: flex;
    color: white;
    font-family: MuseoSansDisplay;
    padding: 2%;
    margin-top: 50px;
    overflow-x: scroll;
    user-select: none;
    transition: all 0.5s;
}
.gameBox:hover{
    margin-left: 11%;
    box-shadow: 0 0 40px rgb(0, 90, 181);
}
.gameBox::-webkit-scrollbar {
    overflow: hidden;
}
.gameBox::-webkit-scrollbar-thumb {
    overflow: hidden;
}
.end{
    background-image: repeating-linear-gradient(to right, black 4% 9%, rgb(255, 255, 0) 9% 14%);
    /* background-color: #1ED760; */
    width: 95%;
    margin-bottom: 50px;
    margin-top: 100px;
    color: white;
    font-family: 
    MuseoSansDisplay;
    height: 50px;
    margin-left: 2.5%;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 40px rgba(243,242,4);
}
.Button{
    width: 85%;
    height: 104px;
    text-align: center;
    padding: 1%;
    font-size: 50px;
    font-family: LetoText;
    border-radius: 20px;
    transition: .3s;
    user-select: none;
}
.ButtonColor{
    background-color: #0082D8;
}
.ButtonColor:hover{
    box-shadow: 0 0 30px rgba(0,130,216);
}